<!DOCTYPE html>
<html>

<head>

  <style>
    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
  </style>
  <title>Home</title>
</head>

<body>

  <form id = "search-result" action = "/" method = "POST">
    <input type="text" name = "what" >
    <button type="submit">Search</button>
  </form>
  <br />
  <div class="dropdown">
    <button class="dropbtn">Headlines</button>
    <div class="dropdown-content">
      <a id="business" href="http://localhost:8080/business/1">Business</a>
      <a id="entertainment" href="http://localhost:8080/entertainment/1">Entertainment</a>
      <a id="general" href="http://localhost:8080/general/1">General</a>
      <a id="health" href="http://localhost:8080/health/1">Health</a>
      <a id="science" href="http://localhost:8080/science/1">Science</a>
      <a id="sports" href="http://localhost:8080/sports/1">Sports</a>
      <a id="technology" href="http://localhost:8080/technology/1">Technology</a>
    </div>
  </div>
</body>

</html>